body{
    background-color: hsla(0, 0%, 15%, 0.87);
}

header {
    background-color: #000000;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.cta-button {
    display: inline-block;
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.seccion {
    padding: 20px;
    max-width: 600px;
    margin: 40px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-section h2 {
    text-align: center;
}

#cart-form {
    display: flex;
    flex-direction: column;
}

#cart-form label {
    margin-top: 10px;
}

#cart-form input,
#cart-form select,
#cart-form button {
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#cart-form button {
    background-color: #333;
    color: white;
    cursor: pointer;
}

#cart-form button:hover {
    background-color: #555;
}

#cart-result {
    text-align: center;
    margin-top: 20px;
}

#cart-result h3 {
    margin: 0;
}

#cart-output {
    font-size: 1.5em;
    font-weight: bold;
}

.contact{
    font-family: Arial, sans-serif;
    padding: 20px;;
    max-width: 600px;
    margin: 40px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact-form input{
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
